html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  letter-spacing: 0.02em;
  line-height: 1.3;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  padding: 100px 0 0 0;
}


.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

//menu burger

.menu-icon {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  margin: 5px 0 5px 10px;
  cursor: pointer;
}

.menu-icon span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}

.menu-icon span:before,
.menu-icon span:after {
  position: absolute;
  content: '';
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
  width: 30px;
  height: 5px;
  background-color: #fff;
  display: block;
}

.menu-icon span:before {
  margin-top: -12px;
}

.menu-icon span:after {
  margin-top: 12px;
}

.menu-icon span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu-icon.active span {
  background-color: rgba(235, 8, 8, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu-icon span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.menu-icon.active span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}

.menu-icon span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.menu-icon.active span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}